<!--The content below is only a placeholder and can be replaced.-->
<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
  <a class="navbar-brand" href="#">Profile Wizard</a>
</nav>

<div class="row">

  <div class="col-sm-3">
    <li>
      <a routerLink="personaldetails">Personal Details</a>
    </li>
  </div>
  <div class="col-sm-3">
    <li>
      <a routerLink="contactdetails">Contact Details</a>
    </li>
  </div>
  <div class="col-sm-3">
    <li>
      <a routerLink="skills">Skills</a>
    </li>
  </div>
  <div class="col-sm-3">
    <li>
      <a routerLink="workexperience">Work Experience</a>
    </li>
  </div>

</div>

<router-outlet>
</router-outlet>
