<nav>
  <ol class="breadcrumb">
    <li class="bread-crumb-item">
      <a href="#">Home</a>
    </li>
    <li class="bread-crumb-item">
      <a href="#">Dashboard</a>
    </li>

  </ol>
</nav>
<div class="row">
  <div class="col-lg-3">
    <div class="col-lg-12" style="background-color: #e9e6e6">
      {{Designation}}
    </div>
    <div class=" col-12 text-center">
      <img src="assets/user.jpg" width="120px">
    </div>
    <div class="col-lg-12" style="background-color: beige;">
      {{Username}}
    </div>

    <div class="col-lg-12">
      <ul class="list-group">

        <li class="list-group-item d-flex justify-content-between align-items-center">
          No of Team menbers
          <span class="badge badge-primary badge-pill">{{NoOfTeamMembers}}</span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
          Total Cost Of All projects
          <span class="badge badge-primary badge-pill">{{TotalCostOfAllProjects}}</span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
          Pending tasks
          <span class="badge badge-primary badge-pill">{{PendingTasks}}</span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
          Upcoming Projects
          <span class="badge badge-primary badge-pill">{{UpcomingProjects}}</span>
        </li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
          Project Cost
          <span class="badge badge-primary badge-pill">{{ProjectCost}}</span></li>
        <li class="list-group-item d-flex justify-content-between align-items-center">
          Current Expenditure
          <span class="badge badge-primary badge-pill">{{CurrentExpenditure}}</span>
        <li class="list-group-item d-flex justify-content-between align-items-center">
          Available Funds
          <span class="badge badge-primary badge-pill">{{AvailableFunds}}</span>
        </li>
      </ul>
    </div>

    <div class="col-12 text-center pt-2 pb-2">
      Clients
    </div>
    <div class="col-12">
      <ul class="list-group list-group-flush">

        <li class="list-group-item" *ngFor="let clients of Clients">{{clients}}</li>


      </ul>
    </div>
  </div>
  <div class="col-lg-6">
    <div class="row">
      <div class="col-12 pb-2 pt-2" style="background-color: #e9e6e6">
        <div class="row mt-2">
          <div class="col-6 text-left">

            <div class="dropdown">
              <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                Project
              </button>
              <div class="dropdown-menu">
                <a class="dropdown-item" href="#" *ngFor="let project of Projects " onclick="return false"
                  (click)="onProjectChange($event)">{{project}}</a>
              </div>
            </div>



          </div>



          <div class="col-6 text-right">

            <div class="dropdown">
              <button type="button" class="btn btn-primary dropdown-toggle" data-toggle="dropdown">
                Year
              </button>
              <div class="dropdown-menu">
                <a class="dropdown-item" href="#" *ngFor="let years of Years">{{years}}</a>
              </div>
            </div>

          </div>
        </div>
      </div>
      <div class="col-11 pt-2 text-center " style="background-color: beige;">Project Briefing</div>
      <div class="col-12">

        <table class="table table-borderless">

          <tr>
            <td>ProjectCost</td>
            <td>{{ProjectCost}}</td>
          </tr>
          <tr>
            <td>Available Funds</td>
            <td>{{AvailableFunds}}</td>

          </tr>
          <tr>
            <td>CurrentExpenditure</td>
            <td>{{CurrentExpenditure}}</td>
          </tr>


        </table>


      </div>
      <div class="col-12 text-center" style="background-color: blanchedalmond;">TeamSummary</div>
    </div>
    <div class="col-12">

      <table class="table">
        <tr>
          <th>Region</th>
          <th>TemMembers Count</th>
          <th>Temporarily Unavailable Members</th>


        </tr>
        <tr *ngFor="let teammembersummary of TeamMembersSummary">
          <td>{{teammembersummary.Region}}</td>
          <td>{{teammembersummary.TeamMembersCount}}</td>
          <td>{{teammembersummary.TemporarilyUnavailableMembers}}</td>


        </tr>
      </table>

    </div>


  </div>
  <div class=" col-lg-3">
    <div class="col-12 text-center" style="background-color: #e9e6e6;">
      Team Summary
    </div>
    <div class="accordion" id="accordionExample">
      <div class="card" *ngFor="let teamsummary of TeamSummary; let i=index">
        <div class="card-header" id="headingOne">
          <h2 class="mb-0">
            <button class="btn btn-link" type="button" data-toggle="collapse" [attr.data-target]="'#collapse' +i">

              {{teamsummary.Region}}
            </button>
          </h2>
        </div>

        <div [id]="'collapse'+i" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
          <div class="card-body">
            <table class="table">
              <thead>

                <th>ID</th>
                <th>Name</th>
                <th>Status</th>

              </thead>
              <tbody>
                <tr *ngFor="let members of teamsummary.Members">
                  <td>{{members.ID}}</td>
                  <td>{{members.Name}}</td>
                  <td>{{members.Status}}</td>
                </tr>



              </tbody>



            </table>
          </div>
        </div>
      </div>
